{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static 'css/blog.css' %}">
</head>
<body>
    <form method="POST">
        {%csrf_token%}
        <div class="form-group">
            <label for="exampleInputEmail1">Autor</label>
            <select class="form-control" name="user">
                {%for user in usuario%}
                <option value="{{user.id}}">{{ user.username }}</option>

                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Título</label>
            <input  class="form-control" id="exampleInputPassword1" placeholder="Título" name="title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Texto</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    {%if publicacion%}
        <p>Publicación exitosa:{{publicacion.id}}</p>
    {%endif%}
</body>
</html>